{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Starred Repositories</h1>
  <form method="GET">
    <div class="form-group">
      <label for="tag">Filter by tag:</label>
      <input type="text" name="tag" id="tag" class="form-control" value="">
    </div>
    <button type="submit" class="btn btn-primary btn-dark">Filter</button>
  </form>
  <form method="GET">
    <div class="form-group">
      <label for="username">GitHub username:</label>
      <input type="text" name="username" id="username" class="form-control" value="">
    </div>
    <button type="submit" class="btn btn-primary btn-dark">Search</button>
  </form>
  <br>
  {% if repos %}
  {% for repo in repos %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a href="{{ repo.url }}">{{ repo.name }}</a></h5>
      {% if repo.issues %}
      <h6 class="card-subtitle mb-2 text-muted">{{ repo.issues|length }} open issues:</h6>
      <ul>
        {% for issue in repo.issues %}
        <li>
          <a href="{{ issue.url }}">{{ issue.title }}
          </a>
          {% for label in issue.labels %}
          <span class="badge badge-pill badge-info">{{label}}</span>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <br>
  {% endfor %}
  {% else %}
  <p>No starred repositories found.</p>
  {% endif %}
</div>
{% endblock %}